*{
                margin: 0;
                padding: 0;
}

#titulo-principal{
                text-align: center;
                font-family: helvetica, sans-serif;
}

#apresentacao-empresa{
                width: 700px;
                margin: auto;
                margin-top:20px ;
}
#apresentacao-texto{
                text-align: justify;
                font-family: Helvetica , sans-serif;
                font-size: 1.3em;
}

/* ESTILIZANDO FORMULÁRIO */

#container-formulario{
                background-color: aquamarine;
                max-width: 700px;
                margin: auto;
                margin-top:15px ;
                padding: 10px;
}
.campos-formulario{
                margin-bottom: 15px;
}
.titulos-campos{
                display: block;
                font-family: helvetica, sans-serif;
                font-size: 1.1em;
}

.informacao-campos{
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px ;
                border-style: solid;
                border-width: 2px;
}

.campos-formulario-mensagem{
                margin-top: 15px;
                text-align: center;
}